#config-overlay {
  text-align: center;

  h2 {
    margin: 0.5rem 0;
  }
}

.form-control {
  margin: 0.5rem 0;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  input {
    margin: 0.5rem;
    border: 1px solid #cccccc;
    padding: 0.35rem;
    width: 15rem;
    font: inherit;
  }
}

.error {
  label {
    color: #880202;
  }

  input {
    border-color: #880202;
    color: #880202;
    background-color: #fddbdb;
  }
}

#game-configuration {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;

  ol {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }

  li {
    margin: 1rem;
    border-radius: 4px;
    padding: 1rem;
    width: 50%;
    background-color: #f3e3ff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }

  h2 {
    margin: 0.5rem 0;
    font-size: 1rem;
  }

  h3 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    color: #5e04a7;
  }
}

.player-symbol {
  margin: 0.5rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: #2f0452;
}
