#active-game {
  display: none;
  margin: 2rem 0 5rem;
  text-align: center;
}

#game-over {
  display: none;
  margin: auto;
  border-radius: 4px;
  padding: 1rem 2rem;
  width: 90%;
  max-width: 40rem;
  color: #fff;
  background-color: #320557;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  h2 {
    margin: 0.5rem 0;
    font-size: 2.5rem;
  }
}

#active-player-name {
  font-weight: bold;
  color: #320557;
}

#game-board {
  display: grid;
  grid-template: repeat(3, 6rem) / repeat(3, 6rem);
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: #d7bbf7;
    cursor: pointer;

    &.disabled {
      color: #fff;
      background-color: #700dcc;
      cursor: default;
    }

    &:hover {
      background-color: #700dcc;
    }
  }
}
