body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #2c292c;
  background-color: #f7eff7;
}

#main-header {
  padding: 2rem 5%;
  color: #fff;
  text-align: center;
  background-color: #8c00ff;
}

.btn {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  font: inherit;
  color: #fff;
  background-color: #8c00ff;
  cursor: pointer;

  &:hover {
    background-color: #4f0abe;
  }

  &-alt {
    color: #8c00ff;
    background-color: transparent;

    &:hover {
      background-color: #e6c9fc;
    }
  }
}
